div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
body{
    background-color:  #c299ff;
    font-family: 'Games', sans-serif;
   
                
    
}
footer{
    margin-top: 160px;
    text-align: center;
}
